@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family: 'Lato', sans-serif;
    }

    html {
        --accent: 52 208 137;
        --dark: 238 238 255;
        --light: 34 34 34;
    }

    html[data-theme="dark"] {
        --accent: 102 238 187;
        --dark: 34 34 34;
        --light: 238 238 255;
    }
}